{% when 'divider' %}
            <div li-block="Divider" class="content_block">
                    
                    
                    <div class="divider-wrap is-s">
                      <div class="divider"></div>
                      <div>
                        <div class="divider-caption">
                          <div class="icon-20 w-embed"><svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M4 4 H16 V16 H4 Z" stroke="currentColor" transform="rotate(45 10 10)"></path>
                            </svg></div>
                        </div>
                      </div>
                      <div class="divider"></div>
                    </div>
                    
                    
                    <div class="_1rem-spacer"></div>
                    
                  
                </div> {% schema %} {
    "name": "Divider",
    "settings": [],
    "presets": [
        {
            "name": "Divider"
        }
    ]
} {% endschema %}