<div li-block="Heading" class="content_block">
                    
                
                    <div data-w-id="840322ed-dbd9-78ae-8e84-6f668fd2bb0e" class="heading-style-h2-6 text-color-white">
{{ block.settings.text_text }}
</div>
                    
              
                </div> {% schema %} {
    "name": "Heading",
    "settings": [
        {
            "id": "text_text",
            "type": "text",
            "label": "Text",
            "default": "Everything you need to launch your Lash Career"
        }
    ],
    "presets": [
        {
            "name": "Heading"
        }
    ]
} {% endschema %}