<div li-block="Title" class="content_block">
                    
                  
                    <h2 data-w-id="1f111230-9bf0-35b9-4999-0208cfbf0e97">
{{ block.settings.text_heading }}
</h2>
                    
                
                </div> {% schema %} {
    "name": "Title",
    "settings": [
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "Educating Lash Artistry That Feels Real, Supportive &amp; Fun"
        }
    ],
    "presets": [
        {
            "name": "Title"
        }
    ]
} {% endschema %}