{% when 'title' %}
            <div li-block="Title" class="content_block">
                    
                    
                    <div class="text-align-center">
                      <div class="max-width-large align-center">
                        <div class="margin-bottom margin-small">
                          <h2 data-w-id="bed2de1d-fd39-6084-56de-4247f0f2d49a">
{{ block.settings.text_heading }}
</h2>
                        </div>
                      </div>
                    </div>
                    
                  
                </div> {% schema %} {
    "name": "Title",
    "settings": [
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "Start Your Career in Lash Artistry"
        }
    ],
    "presets": [
        {
            "name": "Title"
        }
    ]
} {% endschema %}