<div li-block="Video" class="container-medium">
                    
              
                    <div class="_2rem-spacer"></div>
                    
              
                    <div class="column-2x-large">
                <div data-w-id="0729d1d3-bd24-480c-6058-b1626c790053" class="video-outline">
                  <div style="padding-top:56.17021276595745%" class="video-embed-2 w-video w-embed"><iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2F8S-cmFFKIRs%3Ffeature%3Doembed&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D8S-cmFFKIRs&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2F8S-cmFFKIRs%2Fhqdefault.jpg&type=text%2Fhtml&schema=youtube" width="940" height="528" scrolling="no" allowfullscreen="" title="Lash Natio 3 Day Lash Extension Masterclass"></iframe></div>
                </div>
              </div>
                    
            
                </div> {% schema %} {
    "name": "Video",
    "settings": [],
    "presets": [
        {
            "name": "Video"
        }
    ]
} {% endschema %}