<div class="padding-section-small">
          <div class="padding-global">
            <div class="container-large">
              <div class="w-embed w-script"><!--  Elfsight Google Reviews | Lash Nation  -->
                <script src="https://elfsightcdn.com/platform.js" async=""></script>
                <div class="elfsight-app-6618af84-9f8c-4d1b-96bd-795801024662" data-elfsight-app-lazy=""></div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "div",
    "name": "Google Reviews",
    "class": "section",
    "presets": [
        {
            "name": "Google Reviews",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}