<div li-content-for-theme-blocks="" class="image-bg-section">
{% content_for 'blocks' %}
</div> {% schema %} {
    "tag": "div",
    "name": "USP Grid",
    "blocks": [
        {
            "type": "heading"
        },
        {
            "type": "buttons"
        },
        {
            "type": "grid"
        },
        {
            "type": "@app"
        }
    ],
    "presets": [
        {
            "name": "USP Grid",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "heading"
                },
                {
                    "type": "buttons"
                },
                {
                    "type": "grid"
                }
            ]
        }
    ]
} {% endschema %}