<div class="padding-section-small">
          <div li-content-for-theme-blocks="" class="padding-global">
{% content_for 'blocks' %}
</div>
        </div> {% schema %} {
    "tag": "div",
    "name": "YouTube Section",
    "class": "section",
    "blocks": [
        {
            "type": "available-badge"
        },
        {
            "type": "title"
        },
        {
            "type": "paragraph"
        },
        {
            "type": "video"
        },
        {
            "type": "@app"
        }
    ],
    "presets": [
        {
            "name": "YouTube Section",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "available-badge"
                },
                {
                    "type": "title"
                },
                {
                    "type": "paragraph"
                },
                {
                    "type": "video"
                }
            ]
        }
    ]
} {% endschema %}