<div class="padding-section-small">
          <div class="padding-global">
            <div class="container-x-small">
              <div li-content-for-blocks="" class="column-regular-2 column-center">
{% for block in section.blocks %}
{% case block.type %}
{% when '@app' %}
{% render block %}

                {% when 'available-badge' %}
            <div li-block="Available Badge" class="content_block">
                    
                  
                    <div class="badge-secondary">
                    <div class="green-dot"></div>
                    <div>
{{ block.settings.text_text }}
</div>
                  </div>
                    
                
                </div>
                {% when 'title' %}
            <div li-block="Title" class="content_block">
                    
                  
                    <h2 data-w-id="1f111230-9bf0-35b9-4999-0208cfbf0e97">
{{ block.settings.text_heading }}
</h2>
                    
                
                </div>
                {% when 'paragraph' %}
            <div li-block="Paragraph" class="content_block">
                    
                  
                    <div data-w-id="1f111230-9bf0-35b9-4999-0208cfbf0e9a" class="text-size-regular-4"> {{ block.settings.richtext_text }} </div>
                    
                
                </div>
              {% endcase %}
{% endfor %}

    </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "div",
    "name": "YouTube Section",
    "class": "section",
    "blocks": [
        {
            "name": "Available Badge",
            "type": "available-badge",
            "settings": [
                {
                    "id": "text_text",
                    "type": "text",
                    "label": "Text",
                    "default": "Courses Available Now"
                }
            ]
        },
        {
            "name": "Title",
            "type": "title",
            "settings": [
                {
                    "id": "text_heading",
                    "type": "text",
                    "label": "Heading",
                    "default": "Educating Lash Artistry That Feels Real, Supportive &amp; Fun"
                }
            ]
        },
        {
            "name": "Paragraph",
            "type": "paragraph",
            "settings": [
                {
                    "id": "richtext_text",
                    "type": "richtext",
                    "label": "Text",
                    "default": "<p>Hands-on practice with <strong>real models<\/strong>, <strong>one-on-one mentoring<\/strong>, and a <strong>supportive community<\/strong> to guide you every step.<\/p>"
                }
            ]
        },
        {
            "type": "@app"
        }
    ],
    "presets": [
        {
            "name": "YouTube Section",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "available-badge"
                },
                {
                    "type": "title"
                },
                {
                    "type": "paragraph"
                }
            ]
        }
    ]
} {% endschema %}